.slider-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .slider-row {
    margin-bottom: 20px; /* Add spacing between rows */
  }
  
  .customer-img {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .customer-img img {
    width: 150px; /* Adjust the size of each image */
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .slider-row:hover {
    cursor: pointer;
  }
  